// Colors
$primary: #35ffdd;
$secondary: #004949;
$text: #0b0c0c;
$success: lime;
$error: red;
$warning: orange;
$notify: deepskyblue;

// Breakpoints
$break-phone-max: "576px";
$break-table-min: "577px";
$break-table-max: "820px";
$break-laptop-min: "821px";
$break-laptop-max: "1090px";

// Other
$container-width: 1270px;
$border-radius: 4px;
